@import "tailwindcss";

:root {
  --background: white; /* Light gray */
  --foreground: black; /* Dark gray */
  --navbar-bg: transparent; /* Transparent navbar */
  --navbar-text: black; /* Dark gray text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: black; /* Dark gray */
  --foreground: white; /* Light gray */
  --navbar-bg: transparent; /* Transparent navbar */
  --navbar-text: white; /* Light gray text */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Optional: Add smooth scrolling for all elements */
* {
  scroll-behavior: smooth;
}
